.container{
width:420px;
height: 200px;
}

.one{
width: 200px;
height: 200px;
float: left;
}
.profilephoto{
width: 180px;
height: 150px;
margin-top: 25px;
margin-left: 10px;
}
.two{
width: 220px;
height: 200px;
float: right;
}
.whois{
font-size: 25px;
text-align: center;
margin-top: 10px;
}
.labels{
padding-top: 5px;
margin-left: 10px;
}
.inform{
float:left;
}
.inform2{
float: right;
margin-right: 0px
}
.showdata{
padding-top: 6px;
}